! special
*.foreground:   #a7a7a7
*.background:   #1e1e1e
*.cursorColor:  #a7a7a7

! black
*.color0:       #1e1e1e
*.color8:       #5f5a60

! red
*.color1:       #cf6a4c
*.color9:       #cf6a4c

! green
*.color2:       #8f9d6a
*.color10:      #8f9d6a

! yellow
*.color3:       #f9ee98
*.color11:      #f9ee98

! blue
*.color4:       #7587a6
*.color12:      #7587a6

! magenta
*.color5:       #9b859d
*.color13:      #9b859d

! cyan
*.color6:       #afc4db
*.color14:      #afc4db

! white
*.color7:       #a7a7a7
*.color15:      #ffffff

URxvt*cursorBlink: true
URxvt*font:  xft:Space Mono:size=12:antialias=true
urxvt*background: rgba:0000/0000/0100/c900
URxvt*depth: 32
URxvt*scrollBar: false
URxvt.internalBorder: 8
Xcursor.size: 24
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: default,resize-font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

