! special
*.foreground:   #c0b18b
*.background:   #1f1f1f
*.cursorColor:  #c0b18b

! black
*.color0:       #4a3637
*.color8:       #4a3637

! red
*.color1:       #d17b49
*.color9:       #d17b49

! green
*.color2:       #7b8748
*.color10:      #7b8748

! yellow
*.color3:       #af865a
*.color11:      #af865a

! blue
*.color4:       #535c5c
*.color12:      #535c5c

! magenta
*.color5:       #775759
*.color13:      #775759

! cyan
*.color6:       #6d715e
*.color14:      #6d715e

! white
*.color7:       #c0b18b
*.color15:      #c0b18b

URxvt*cursorBlink: true
URxvt*font:  xft:Cousine:size=12:antialias=true
urxvt*background: rgba:0000/0000/0100/c900
URxvt*depth: 32
URxvt*scrollBar: false
URxvt.internalBorder: 8
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: default,resize-font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
Xcursor.size: 24
